body{
    padding: 0;
    margin: auto;
}
nav{
    position: fixed;
    background-color: rgb(48, 48, 48);
    width: 100vw;
}
nav .mobile-nav {
    margin: 0px;
    padding: 0px;
    width: 0px;
    overflow-x: hidden;
    height: 0vh;
    overflow-y:hidden;
    background-color: rgba(0, 0, 0, 0.39);
}
.mobile-nav ul{
    position: absolute;
    right: 0px;
    top: 0px;    
    height: 100vw;
    display: none;
    background-color: rgb(48, 48, 48);;
    flex-direction: column;
    width: 0vw;
    white-space: nowrap;
    transition: width ease-in-out 1s;

    text-wrap: none;
    margin-left: auto;
}
#smallNav{
    display: none;
}
nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul a:first-child{
    margin-right: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav a svg{
    padding-right: 5px;
}
nav a {
    text-decoration: none;
    background-color: rgb(48, 48, 48);
    color: whitesmoke;
    float: right;
    padding: 15px 15px;
}
nav a:hover{
    background-color: rgb(97, 97, 97)
}
@media only screen and (max-width: 650px) {
    nav>ul>a:nth-last-child(-n + 4){
        display: none;
    }    
    #smallNav{
        display: block;
    }
    .mobile-nav ul{
        display: flex;
    }
}




.hero {
    display: flex;
    align-items: center;
    padding-top: 42px;
    background-color: #252525;
    /* background: rgb(221,153,12); */
    /* background: linear-gradient(122deg, rgba(221,153,12,1) 0%, rgba(252,17,17,1) 81%);  */
    height: 300px;
    width: 100vw;
    margin: auto;
    box-shadow: 5px 10px 10px grey;
}

#fullName {
    padding: 50px 0px;
    margin: auto;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(58, 204, 0);
    max-width: 500px;
    text-align: center;
    vertical-align: middle;
}
#fullName h2{
    margin-top: 0px;
}